[Unit]
Description=The Noice API server
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
User=nobody
Type=simple
ExecStart=/usr/bin/authbind --deep /usr/bin/java -jar /usr/local/share/noice/api.jar --spring.config.additional-location=file:///etc/noice/api.properties --logging.file.name=/var/log/noice/api.log
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target
